flows_pmgatech.json
[{"id":"982f894a.195318","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3786ed04.a75d42","type":"s7 endpoint","transport":"iso-on-tcp","address":"10.229.138.14","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"02","remotetsaplo":"00","connmode":"tsap","adapter":"","busaddr":"2","cycletime":"500","timeout":"2000","name":"","vartable":[{"addr":"DB1,X0.0","name":"Door_Close"},{"addr":"DB1,DINT20","name":"CO_litre"},{"addr":"DB1,DINT24","name":"CO_meter"},{"addr":"DB1,X0.1","name":"ETAT_elec"},{"addr":"DB1,INT18","name":"Battery_level"},{"addr":"DB1,INT30","name":"Solar_voltage"},{"addr":"DB1,INT28","name":"tirbune_voltage"}]},{"id":"f639665d.a553f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#074ca6","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#074ca6","edited":true},"page-titlebar-backgroundColor":{"value":"#074ca6","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0a6eef","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#074ca6","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Smart Grid ","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":18,"cy":3,"px":5,"py":5}}},{"id":"5ddaf331.e6436c","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"601311c6.38e85","order":2,"width":1,"height":1},{"id":"78127d38.e22d14","type":"ui_group","name":"home","tab":"cb8f929a.97c44","order":1,"disp":false,"width":20,"collapse":false},{"id":"cb8f929a.97c44","type":"ui_tab","name":"Global Algerian Technology Smart Grid","icon":"","disabled":false,"hidden":true},{"id":"ed54030c.b5d51","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":3,"width":12,"height":1},{"id":"56a66a7c.d1f554","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":5,"width":12,"height":1},{"id":"6221c7b4.45c488","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":7,"width":3,"height":1},{"id":"7b0c149f.9c39fc","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":14,"width":6,"height":1},{"id":"3366435.3440bbc","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":19,"width":6,"height":1},{"id":"f4d2f519.dca058","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":22,"width":1,"height":1},{"id":"9c0bced8.423c9","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":26,"width":1,"height":1},{"id":"3b110aa8.54f936","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":27,"width":1,"height":1},{"id":"70dab41.276bb4c","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":28,"width":1,"height":1},{"id":"b0a84919.b94598","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":30,"width":5,"height":1},{"id":"2293532b.4b41bc","type":"ui_spacer","z":"982f894a.195318","name":"spacer","group":"78127d38.e22d14","order":32,"width":4,"height":1},{"id":"f571d292.785bc","type":"s7 in","z":"982f894a.195318","endpoint":"3786ed04.a75d42","mode":"single","variable":"tirbune_voltage","diff":true,"name":"","x":140,"y":280,"wires":[["98b43686.1fda78","f78082e.c6ad88"]]},{"id":"9accf798.99be38","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"gatech logo","width":2,"height":2,"order":1,"category":"image","file":"gatech_logo.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":170,"y":80,"wires":[[]]},{"id":"6bb5f313.a4094c","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"algeria flag","width":3,"height":2,"order":4,"category":"image","file":"3Argelia-ald.gif","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":530,"y":80,"wires":[[]]},{"id":"98b43686.1fda78","type":"function","z":"982f894a.195318","name":"","func":"// p = msg.payload;\n// keys =  Object.keys(p) ;\n\n// msg.payload = ((p[keys[1]]) + p[keys[2]]*999999)/100;\n// return msg;\nif(msg.payload >40){\n    msg.enabled = true;\n}else{\n    msg.enabled = false;\n}\nreturn msg  ;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["d2e652c8.d1912","57747b52.551674","3a9fbf70.dd554"]]},{"id":"cfdfcfa.2945e3","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"solar","width":3,"height":4,"order":18,"category":"image","file":"solar.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":490,"y":500,"wires":[[]]},{"id":"7ecaa7f8.53d108","type":"s7 in","z":"982f894a.195318","endpoint":"3786ed04.a75d42","mode":"single","variable":"Battery_level","diff":true,"name":"","x":130,"y":480,"wires":[["2fccafc3.91bf9"]]},{"id":"2fccafc3.91bf9","type":"function","z":"982f894a.195318","name":"","func":"msg.payload = (msg.payload / 10) ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":460,"wires":[["aa567956.c91b18"]]},{"id":"31b22724.10d0d8","type":"ui_template","z":"982f894a.195318","group":"78127d38.e22d14","name":"","order":29,"width":3,"height":1,"format":"<style>\n     body ui-card-panel{\n        background-image: url(\"/images/bg.png\");\n        background-repeat: no-repeat;\n        background-position: top;\n        background-size: 55%;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-template {\n        background-color: transparent;\n    }\n    \n    body.nr-dashboard-theme md-content md-card{\n        background-color: transparent;\n    }\n    \n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":360,"y":40,"wires":[[]]},{"id":"d2e652c8.d1912","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"tirbune1","width":3,"height":6,"order":9,"category":"image","file":"wind-tirbune.gif","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":520,"y":240,"wires":[[]]},{"id":"57747b52.551674","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"tirbune2","width":3,"height":6,"order":11,"category":"image","file":"wind-tirbune.gif","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":520,"y":280,"wires":[[]]},{"id":"3a9fbf70.dd554","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"tirbune3","width":3,"height":6,"order":8,"category":"image","file":"wind-tirbune.gif","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":520,"y":320,"wires":[[]]},{"id":"fdad815f.f6bde","type":"ui_text","z":"982f894a.195318","group":"78127d38.e22d14","order":31,"width":11,"height":1,"name":"cpright","label":"","format":"Ⓒ Global algerian Technology 2022","layout":"row-center","x":350,"y":620,"wires":[]},{"id":"ad4be1ea.66d88","type":"ui_gauge","z":"982f894a.195318","name":"turbine","group":"78127d38.e22d14","order":16,"width":9,"height":4,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":380,"wires":[]},{"id":"f78082e.c6ad88","type":"function","z":"982f894a.195318","name":"","func":"msg.payload = msg.payload / 100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["ad4be1ea.66d88"]]},{"id":"8db60a80.343758","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"media1","width":6,"height":5,"order":6,"category":"image","file":"Screenshot (13).png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":680,"y":300,"wires":[[]]},{"id":"61c85628.7ed248","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"media2","width":6,"height":4,"order":13,"category":"image","file":"Screenshot (12).png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":680,"y":340,"wires":[[]]},{"id":"aada848d.9e8358","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"media3","width":5,"height":5,"order":15,"category":"image","file":"Screenshot (14).png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":680,"y":380,"wires":[[]]},{"id":"acbb65f0.87df88","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"media4","width":5,"height":4,"order":10,"category":"image","file":"Screenshot (15).png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":680,"y":420,"wires":[[]]},{"id":"ea62460a.c684a8","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"media5","width":5,"height":2,"order":12,"category":"image","file":"Screenshot (16).png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":680,"y":460,"wires":[[]]},{"id":"e8d1fd0c.16362","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"solar2","width":3,"height":4,"order":23,"category":"image","file":"solar.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":490,"y":540,"wires":[[]]},{"id":"140c381f.7b7bc8","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"solar3","width":3,"height":4,"order":24,"category":"image","file":"solar.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":490,"y":580,"wires":[[]]},{"id":"aa567956.c91b18","type":"ui_gauge","z":"982f894a.195318","name":"","group":"78127d38.e22d14","order":20,"width":5,"height":4,"gtype":"wave","title":"Battery","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":440,"wires":[]},{"id":"44521be0.d50b94","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"media6","width":6,"height":3,"order":17,"category":"image","file":"Screenshot (20).png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":690,"y":520,"wires":[[]]},{"id":"d401ba56.d675b8","type":"ui_media","z":"982f894a.195318","group":"78127d38.e22d14","name":"logo amenhyd","width":3,"height":2,"order":2,"category":"image","file":"amenhydlogo.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"muted":true,"scope":"local","tooltip":"","x":340,"y":100,"wires":[[]]},{"id":"a54735a8.22ea98","type":"inject","z":"982f894a.195318","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":180,"wires":[["f7992c67.1d89f","681a9029.89ba2"]]},{"id":"f7992c67.1d89f","type":"moment","z":"982f894a.195318","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/GMT+1","adjAmount":"1","adjType":"hours","adjDir":"add","format":"DD-MM-YYYY HH:mm:ss","locale":"fr-FR","output":"","outputType":"msg","outTz":"Etc/GMT","x":410,"y":180,"wires":[["6975b976.34eee8"]]},{"id":"6975b976.34eee8","type":"ui_text","z":"982f894a.195318","group":"78127d38.e22d14","order":21,"width":5,"height":1,"name":"datetime","label":"","format":"{{msg.payload}}","layout":"row-center","x":640,"y":180,"wires":[]},{"id":"681a9029.89ba2","type":"ui_clock","z":"982f894a.195318","name":"","group":"78127d38.e22d14","order":25,"width":5,"height":4,"x":680,"y":240,"wires":[]}]